$primary =  #6200ea
$secondary = #D7D7D7
$accent_color = #004FFF
$green = #3DDC97
$white = #ffffff
$light_blue = #e3ecff
$sky_blue = #f6f8fc
$error_color = #FF7070
$support_lightgray = #F3F3F3
$light_sky = #f2f6ff
